<!DOCTYPE html>
<html xmins:th="http:www.thymeleaf.org" xmlns:xmins="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Blog Page</title>
    <style>
        .main {
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* 3 columns with equal width */
            grid-gap: 10px; /* Gap between grid items */
            width: 85%;
            margin: auto;
        }

        #each-post {
            border: 2px solid black;
            margin-top: 10px;
            padding-left: 8px;
            padding-right: 8px;
        }

        .button{
            font-size:22px;
            margin: 5px;
        }
    </style>
</head>
<body>
    <h1>My Blog Application</h1>
    <form th:action="@{/posts}" method="POST">
        <input class="button" type="submit" value="Create New Post">
    </form>

    <form th:action="@{/posts}" method="GET">
        <input type="hidden" name="pageNumber" value="1">
        <input class="button" name="search" placeholder="Search..." >
        <input class="button" type="submit" value="Search">
    </form>

    <form class="button" th:action="@{/posts}" method="GET">
        <input type="hidden" name="pageNumber" value="1" />
        <input type="hidden" name="field" value="publishedAt" />
        <input type="hidden" name="direction" th:value="${direction == 'asc' ? 'desc' : 'asc'}" />

        <button class="button" type="submit">
            Sort by Published Date: <span th:if="${direction == 'asc'}">Descending</span>
            <span th:if="${direction == 'desc'}">Ascending</span>
        </button>
    </form>

    <form class="button" th:action="@{/posts}" method="GET">
        <input type="hidden" name="pageNumber" value="1">
        <input class="button" placeholder="authors separated by ','" name="authors">
        <input class="button" placeholder="tags separated by ','" name="tags">
        <input type="hidden" name="field" th:value="${field}">
        <input type="hidden" name="direction" th:value="${direction}">
        <input class="button" type="submit" value="Apply">
    </form>

    <form class="button" th:action="@{/posts}" method="GET">
        <input class="button" type="submit" value="Reset">
    </form>



    <div class="main">
        <div id="each-post" th:each="post: ${posts}" >
            <h1 th:text="${post.title}"/>
            <div th:with="formattedDate=${#dates.format(post.createdAt, 'dd-MM-yyyy')}">
                <div id="author-date"><strong th:text="${post.author + ', ' + formattedDate}"></strong></div>
            </div>
            <p th:text="${post.excerpt}"/>
            <p th:each=" tag : ${post.tags}" th:text="${tag.name}"/>
            <a th:href="@{/posts/{postId}(postId=${post.id})}">Read more</a>
        </div>
    </div>

    <div>
        <ul class="pagination">
            <li th:if="${currentPage > 1}" style="display: inline-block;">
                <a th:with="prevPage=${currentPage - 1}, direction=${direction}, field=${field}"
                   th:href="@{'/posts?pageNumber=' + ${prevPage} + '&amp;direction=' + ${direction} +
                    '&amp;field=' + ${field} + '&amp;authors=' + ${authors} + '&amp;tags=' + ${tags}
                     + '&amp;search=' + ${search}}">
                    Previous</a>
            </li>

            <li th:each="pageNumber : ${totalPages != null ? #numbers.sequence(1, totalPages) : {}}"
                style="display: inline-block;">
                <a th:href="@{'/posts?pageNumber=' + ${pageNumber} + '&amp;direction=' + ${direction} +
                '&amp;field=' + ${field}+ '&amp;authors=' + ${authors} + '&amp;tags=' + ${tags}
                + '&amp;search=' + ${search}}"
                   th:text="${pageNumber}"></a>
            </li>

            <li th:if="${currentPage < totalPages}" style="display: inline-block;">
                <a th:with="nextPage=${currentPage + 1}, direction=${direction}, field=${field}"
                   th:href="@{'/posts?pageNumber=' + ${nextPage} + '&amp;direction=' + ${direction} +
                    '&amp;field=' + ${field} + '&amp;authors=' + ${authors} + '&amp;tags=' + ${tags}
                     + '&amp;search=' + ${search}}">
                    Next
                </a>
            </li>
        </ul>
    </div>

    <h3>Total Post: <span th:text="${totalPosts}"></span></h3>
    <h3>Total Pages: <span th:text="${totalPages}"></span></h3>

</body>
</html>